@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
    font-family: "Roboto", sans-serif;
    -webkit-tap-highlight-color: transparent;
}
.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 5%;
    background-color: #CF6F49;
    width: 70px;
    aspect-ratio: 1;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 1;
    transition: visibility .3s, opacity .3s;
    @media (max-width: 400px) { width: 45px; }
    &.scrolled {
        visibility: hidden;
        opacity: 0;
    }
}
:root {
    --font-family: "Roboto", sans-serif;
}
.dream {
    width: 100%;
    height: 40px;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #939878;
    display: flex;
    justify-content: end;
    padding-inline: 80px;
    @media (max-width: 992px) { padding-inline: 62px; }
    @media (max-width: 900px) { padding-inline: 40px; }
    @media (max-width: 768px) { padding-inline: 20px; }
    @media (max-width: 576px) { padding-inline: 10px; }  
    .text {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p { margin: auto; 
            color: #fff; 
            font-size: 14px;
            @media (max-width: 992px) { margin: 0; }
        }
        svg { cursor: pointer; }
    }
}
a.logo {
    display: flex;
    align-items: center;
    gap: 9.36px;
    span {
        font: 600 18px var(--font-family);
        color: #2A2C1F;
    }
}
small {
    background-color: #E7E8E3;
    color: #2A2C1F;
    font: 400 14px/21px var(--font-family);
    padding: 4px 12px;
    border-radius: 17px;
    display: inline-block;
}
.container {
    width: min(1280px, 100%);
    margin: auto;
    @media (max-width: 1320px) { width: min(1180px, 100%) }
    @media (max-width: 1250px) { width: 90%; }
}
.text-center {
    text-align: center;
    margin: auto;
    h1 {
        font: 700 48px/57.6px var(--font-family);
        color: #2A2C1F;
    }
    p {
        font: 400 18px/27px var(--font-family);
        color: #65665C;
    }
}
header {
    width: 100%;
    height: 74px;
    position: sticky;
    top: 40px;
    background-color: #fff;
    z-index: 3;
    transition: top .3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .08);
    @media (prefers-color-scheme: dark) {
        background-color: #222;
    }
    &.show {
        .burger {
            .line {
                margin-left: 13px;
                transition-duration: .3s;
                &:nth-child(1) {
                    transform: rotate(45deg);
                    transform-origin: left center;
                }
                &:nth-child(2) {
                    transform: rotate(135deg);
                    margin-left: 0;
                    transform-origin: center;
                }
                &:nth-child(3) {
                    transform: rotate(-45deg);
                    transform-origin: left center;
                }
            }
        }
        .container nav {
            height: 243.33px;
        }
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 74px;
        @media (max-width: 1250px) { width: 100%; padding-inline: 70px; }
        @media (max-width: 1050px) { padding-inline: 60px; }
        @media (max-width: 900px) { padding-inline: 40px; }
        @media (max-width: 768px) { padding-inline: 20px; }
        @media (max-width: 576px) { padding-inline: 10px; }  
        .burger {
            display: none;
            position: relative;
            cursor: pointer;
            width: 40px;
            height: 40px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            transition-duration: .3s;
            scale: .7;
            .line {
                width: 100%;
                height: 4px;
                border-radius: 5px;
                transition-duration: .3s;
                background-color: #FAE8E1;
            }
            @media (max-width: 992px) {
                display: flex;
            }
        }
        nav {
            display: flex;
            padding-left: 16px;
            align-items: center;
            gap: 16px;
            @media (max-width: 992px) {
                position: absolute;
                top: 73px;
                flex-direction: column;
                align-items: start;
                background-color: #fff;
                width: 100%;
                left: 0;
                padding-inline: 60px;
                gap: 13px;
                height: 0;
                overflow: hidden;
                transition: height .3s;
            }
            @media (max-width: 900px) { padding-inline: 40px; }
            @media (max-width: 768px) { padding-inline: 20px; }
            @media (max-width: 576px) { padding-inline: 10px; }  
            [href="/contact/"] {
                margin-left: 16px;
                display: inline-block;
                @media (max-width: 992px) { margin: 0; }
            }
            a, button { 
                color: #222; 
                font: 400 16px/24px var(--font-family);
                @media (prefers-color-scheme: dark) {
                    color: #fff;
                }
            }
            .search, .card {
                display: flex;
                align-items: center;
                background-color: transparent;
                border: none;
                gap: 8px;
                margin-left: 8px;
                cursor: pointer;
            }
            .card {
                box-shadow: 0px 2px 4px rgba(.5, .5, .5, .5);
                @media (prefers-color-scheme: dark) {
                    background-color: #222;
                    border: none;
                }
            }
            .dropdown {
                position: relative;
                display: inline-block;
                &.show { .content { height: 144px; } }
                .dropbtn {
                    padding: 8px 16px;
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    cursor: pointer;
                    background-color: transparent;
                    border: none;
                    @media (max-width: 992px) { padding: 0; }
                    svg { margin-top: 2px; }
                }
                .content {
                    position: absolute;
                    width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);
                    background-color: #fff;
                    height: 0;
                    overflow: hidden;
                    &.show {
                        display: block;
                    }
                    a {
                        color: #222;
                        display: block;
                        padding: 12px 16px;
                        &:hover { background-color: #ddd; }
                        @media (prefers-color-scheme: dark) {
                            color: #fff;
                        }
                    }
                }
            }
            .flex {
                display: flex;
                gap: 16px;
                button, a { padding: 9px 21px; border-radius: 6px; }
                a {
                    color: #fff;
                    background-color: #CF6F49;
                }
            }
        }
    }
}
main {
    display: flex;
    height: 686px;
    position: relative;
    @media (max-width: 1050px) { 
        flex-direction: column; 
        background: url("../img/hero-image.png") no-repeat center center / cover;
        height: 586px;
    }
    .container {
        display: block;
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
        z-index: 1;
        @media (max-width: 400px) { top: 50%; }
        div { 
            width: min(560px, 100%);
            @media (max-width: 1190px) { width: min(440px, 100%); }
            h1 {
                font: 400 56px/67.2px var(--font-family);
                color: #2A2C1F;
                margin-block: 20px 15px;
                @media (max-width: 380px) { font-size: 46px; line-height: 55px; }
            }
            p {
                font: 400 18px/30px var(--font-family);
                color: #65665C;
            }
            .form {
                display: flex;
                gap: 14px;
                margin-top: 21px;
                @media (max-width: 1250px) { gap: 5px; }
                @media (max-width: 340px) { flex-wrap: wrap; }
                .input-box, button {
                    @media (max-width: 340px) { width: 100%; }
                }
                .input-box {
                    width: min(100%, 310px);
                    height: 48px;
                    display: flex;
                    gap: 16px;
                    background-color: #fff;
                    border-radius: 5px;
                    border: none;
                    cursor: pointer;
                    align-items: center;
                    padding-inline: 16px;
                    @media (max-width: 482px) { width: 70%; }
                    @media (max-width: 392px) { width: 65%; padding-inline: 10px; }
                    @media (max-width: 340px) { width: 100%; }
                    svg { position: static; }
                    input {
                        border: none;
                        height: 30px;
                        cursor: pointer;
                        &::placeholder {
                            font: 400 18px/30px var(--font-family);
                            color: #65665C;
                        }
                    }
                }
                button {
                    background-color: #CF6F49;
                    color: #fff;
                    border: none;
                    border-radius: 6px;
                    padding: 9px 18px;
                    font: 400 17px/30px var(--font-family);
                    cursor: pointer;
                    @media (max-width: 1190px) { font-size: 14px; }
                    @media (max-width: 482px) { padding-inline: 9px; }
                }
            }
        }
    }
    .text, .image {
        width: 50%;
        height: 100%;
    }
    .image {
        background: url("../img/hero-image.png") no-repeat center / cover;
        @media (max-width: 1050px) { display: none; }
    }
    .text {
        position: relative;
        background-color: #F5F5F2;
        @media (max-width: 1050px) { background-color: transparent; }
        svg {
            @media (max-width: 1050px) { display: none; }
            position: absolute;
            z-index: 1;
            &:nth-of-type(1) {
                inset: 0;
            }
            &:nth-of-type(2) {
                bottom: 0;
                right: 0;
            }
        }
    }
}
section {
    .btn {
        display: flex;
        gap: 24px;
        @media (max-width: 1050px) { justify-content: center; }
        a {
            font: 400 16px/24px var(--font-family);
            color: #2A2C1F;
            &[href="/properties/"] {
                padding: 13px 25px;
                background-color: #fff;
                border: 1px solid #E7E8E3;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, .08);
                border-radius: 6px;
            }
            &[href="/contact/"] {
                display: inline-flex;
                align-items: center;
                gap: 8px;
            }
        }
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: 1050px) { justify-content: center; text-align: center; }
    }
    .text {
        width: min(100%, 520px);
        h1 {
            color: #2A2C1F;
            font: 700 48px/57.6px var(--font-family);
            margin-block: 20px 28px;
        }
        p {
            font: 400 18px/27px var(--font-family);
            color: #65665C;
        }
        .btn {
            margin-top: 24px;
            display: flex;
            gap: 24px;
            align-items: center;
            flex-wrap: wrap;
            a {
                font: 400 16px/24px var(--font-family);
                color: #2A2C1F;
                &:nth-child(1) {
                    border: 1px solid #E7E8E3;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, .08);
                    border-radius: 6px;
                    padding: 13px 25px;
                }
                &:nth-child(2) {
                    display: inline-flex;
                    align-items: center;
                    gap: 7px;
                }
            }
        }
    }
    img {
        width: min(100%, 500px);
    }
    &.houses, &.process { margin-bottom: 128px; }
    &.logos {
        .container {
            height: 118px;
            align-content: end;
            @media (max-width: 1050px) { height: 100%; margin-top: 48px; }
            @media (max-width: 1035px) {text-align: center; justify-content: center; gap: 30px; }
            p { width: min(100%, 243px); font: 400 18px/27px var(--font-family); }
            div { display: flex; gap: 22px; flex-wrap: wrap; @media (min-width: 1320px) { gap: 32px; } @media (max-width: 1035px) { justify-content: center; } }
        }
    }
    &.cards {
        margin-block: 128px;
        .text-center {
            width: min(100%, 754px);
            @media (max-width: 1050px) { width: min(100%, 500px); }
            @media (max-width: 754px) { padding-inline: 20px; width: 90%; }
            @media (max-width: 650px) { padding-inline: 15px; }
            @media (max-width: 580px) { width: 100%; }
            @media (max-width: 576px) { padding-inline: 10px; }
            p { margin-top: 21px; }
        }
        .container {
            gap: 32px;
            margin-top: 64px;
            @media (max-width: 1320px) { gap: 22px; }
            @media (max-width: 1250px) { flex-wrap: nowrap; }
            @media (max-width: 992px) { flex-wrap: wrap; justify-content: center; }
            .card {
                padding-block: 49px 47px;
                width: min(100%, 405px);
                border: 1px solid #E7E8E3;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, .08);
                border-radius: 16px;
                text-align: center;
                @media (max-width: 1320px) { width: min(375px, 100%); }
                @media (max-width: 1250px) { scale: .9; }
                @media (max-width: 992px) { scale: 1; }
                svg { margin: auto; }
                h3 {
                    font: 700 24px/33.6px var(--font-family);
                    color: #2A2C1F;
                    margin-block: 24px 17px;
                }
                p {
                    font: 400 16px/24px var(--font-family);
                    color: #65665C;
                    padding-inline: 40px;
                    @media (max-width: 1320px) { padding-inline: 15px; } 
                }
            }
        }
    }
    &.houses {
        .container {
            gap: 80px;
        }
    }
    &.process {
        .container {
            @media (max-width: 1050px) { gap: 30px; }
            .text { @media (max-width: 1050px) { width: min(100%, 600px); } }
        }
        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 28.91px;
            @media (max-width: 622px) {
                justify-content: center;
                gap: 30px;
            }
            .card {
                &:nth-child(1) {
                    width: min(100%, 220px);
                    @media (max-width: 1050px) { width: min(100%, 280px); }
                }
                &:nth-child(2) {
                    width: min(100%, 280px);
                }
                h5 {
                    margin-block: 16px 18px;
                    color: #2A2C1F;
                    font: 700 20px/28px var(--font-family);
                }
                p { font: 400 16px/24px var(--font-family); }
            }
        }
    }
    &.area {
        position: relative;
        background-color: #F5F5F2;
        padding-block: 128px 160.14px;
        .vector {
            position: absolute;
            top: 0;
            right: 0;
        }
        .text-center h1 {
            margin-top: 21px;
        }
        .container {
            gap: 32px;
            justify-content: start;
            margin-block: 80px;
            @media (max-width: 1320px) { gap: 22px; }
            @media (max-width: 1250px) { justify-content: center; }
            .card {
                width: min(405px, 100%);
                @media (max-width: 1320px) { width: min(375px, 100%); } 
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
                border-radius: 50%;
                text-align: start;
                img {
                    border-radius: 12px 12px 0 0;
                }
                &-body {
                    background-color: #fff;
                    padding: 24px;
                    margin-top: -4px;
                    border-radius: 0 0 12px 12px;
                    h3, h5 { color: #2A2C1F; }
                    h3 {
                        font: 700 24px/33.6px var(--font-family);
                    }
                    h5 {
                        font: 700 18px/27px var(--font-family);
                        margin-block: 3px 16px;
                    }
                    .map {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        small {
                            padding: 0;
                            background-color: transparent;
                            font: 400 16px/24px var(--font-family);
                            color: #65665C;
                        }
                    }
                    .cost {
                        display: flex;
                        gap: 24px;
                        margin-top: 16px;
                    }
                }
            }
        }
        .btn { justify-content: center; }
    }
    &.location {
        background-color: #F5F5F2;
        padding-bottom: 128px;
        .text-center {
            width: min(100%, 713px);
            @media (max-width: 713px) {
                padding-inline: 15px;
            }
            @media (max-width: 576px) {
                padding-inline: 10px;
            }
            p { margin-top: 25px; }
        }
        .container {
            gap: 16px;
            justify-content: start;
            margin-block: 80px;
            @media (max-width: 1250px) { justify-content: center; }
            .card {
                width: min(100%, 416px);
                @media (max-width: 1320px) { width: min(380px, 100%); }
                padding: 33px;
                background-color: #fff;
                border: 1px solid #E7E8E3;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, .08);
                border-radius: 16px;
                text-align: start;
                h5 {
                    font: 700 20px/28px var(--font-family);
                    color: #2A2C1F;
                }
                a {
                    font: 400 18px/27px var(--font-family);
                    color: #65665C;
                    display: inline-flex;
                    align-items: center;
                    gap: 8px;
                    margin-top: 12px;
                }
            }
        }
        .btn { justify-content: center; }
    }
    &.family {
        width: 100%;
        height: 233px;
        background-color: #F5F5F2;
        .container {
            background: #65665C;
            border-radius: 24px;
            padding-block: 95.86px 96.14px;
            .text-center {
                width: min(100%, 765px);
                @media (max-width: 765px) {
                    padding-inline: 15px;
                }
                @media (max-width: 576px) {
                    padding-inline: 10px;
                }
                h1 {
                    color: #fff;
                    font: 700 48px/57.6px var(--font-family);
                    margin-block: 13px 21px;
                }
                p {
                    font: 400 18px/27px var(--font-family);
                    color: #E7E8E3;
                }
                a {
                    padding: 13px 25px;
                    background-color: #CF6F49;
                    font: 400 16px/24px var(--font-family);
                    border-radius: 6px;
                    color: #fff;
                    display: inline-block;
                    margin-top: 21px;
                }
            }
        }
    }
    &.customers {
        .text-center {
            margin-top: 396px;
            p { margin-top: 26px; @media (max-width: 450px) { margin-top: 16px; } }
            @media (max-width: 450px) { width: 90%; }
            h1 { @media (max-width: 450px) { font-size: 36px; } }
        }
        .container {
            justify-content: start;
            gap: 32px;
            margin-block: 80px 160px;
            @media (max-width: 1320px) { gap: 22px; }
            @media (max-width: 1250px) { justify-content: center; }
            .card {
                width: min(405px, 100%);
                @media (max-width: 1320px) { width: min(377px, 100%); }
                padding: 32px 12px 60px;
                border: 1px solid #E7E8E3;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, .08);
                border-radius: 16px;
                text-align: start;
                .stars {
                    display: flex;
                    gap: 4px;
                }
                p {
                    margin-block: 27px 28px;
                    color: #2A2C1F;
                    font: 400 18px/27px var(--font-family);
                }
                .person {
                    display: flex;
                    gap: 16px;
                    img {
                        width: 48px;
                    }
                    h6 {
                        font: 700 16px/24px var(--font-family);
                        color: #2A2C1F;
                    }
                    small {
                        padding: 0;
                        background-color: transparent;
                    }
                }
            }
        }
    }
    &.latest {
        padding-block: 128px;
        background-color: #F5F5F2;
        .container:nth-child(1) { 
            text-align: left; 
            justify-content: start;
            @media (max-width: 920px) {
                justify-content: center;
                text-align: center;
            }
        }
        .view {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            @media (max-width: 920px) { flex-direction: column; justify-content: center; gap: 30px; }
            p {
                width: min(100%, 710px);
                font: 400 18px/27px var(--font-family);
                color: #65665C;
            }
            a {
                padding: 13px 25px;
                color: #2A2C1F;
                font: 400 18px/27px var(--font-family);
                border: 1px solid #E7E8E3;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, .08);
                border-radius: 6px;
                background-color: #fff;
            }
        }
        .container:nth-child(2) {
            display: flex;
            gap: 12px;
            margin-top: 80.31px;
            @media (max-width: 1320px) { gap: 22px; }
            @media (max-width: 1250px) { justify-content: center; }
            .card {
                width: min(100%, 405px);
                text-align: start;
                @media (max-width: 1320px) { width: min(377px, 100%); }
                &:nth-of-type(1) {
                    .card-body {
                        padding-block: 29px;
                    }
                }
                &-body {
                    padding: 24px;
                    background-color: #fff;
                    border-radius: 0 0 12px 12px;
                    margin-top: -4px;
                    @media (max-width: 410px) { padding-inline: 15px; }
                    .date {
                        display: flex;
                        gap: 16px;
                        align-items: center;
                        small {
                            padding: 0;
                            background-color: transparent;
                            font: 400 14px/21px var(--font-family);
                            &:nth-child(1) {
                                background-color: #FAE8E1;
                                border-radius: 32px;
                                padding: 4px 8px;
                            }
                            &:nth-child(2) {
                                color: #65665C;
                            }
                        }
                    }
                    h3 {
                        font: 700 21px/33.6px var(--font-family);
                        color: #2A2C1F;
                        margin-block: 16px 9px;
                    }
                    p {
                        font: 400 16px/24px var(--font-family);
                        color: #65665C;
                        margin-bottom: 30.88px;
                    }
                    a {
                        color: #2A2C1F;
                        font: 400 16px/24px var(--font-family);
                        display: inline-flex;
                        align-items: center;
                        gap: 8px;
                    }
                }
            }
        }
    }
}
footer {
    .container {
        display: flex;
        flex-wrap: wrap;
        padding-block: 64px;
        @media (max-width: 905px) { flex-direction: column;  justify-content: center; }
        .footer-col {
            &:nth-child(1) { 
                @media (max-width: 905px) {
                    display: flex;
                    justify-content: center;
                    .logo { display: inline-flex; width: 96.58px; margin: 30px auto; }
                }
             }
            @media (max-width: 905px) {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            h5 {
                font: 700 16px/24px var(--font-family);
                color: #2A2C1F; 
                margin-bottom: 16px;
            }
            ul {
                li {
                    margin-bottom: 16px;
                    a {
                        font: 400 14px/21px var(--font-family);
                        color: #2A2C1F;
                    }
                }
            }
            p {
                font: 400 16px/24px var(--font-family);
                color: #65665C;
            }
            form {
                display: flex;
                gap: 16px;
                margin-block: 15px 16px;
                @media (max-width: 905px) { justify-content: center; gap: 8px; }
                @media (max-width: 400px) { flex-wrap: wrap; }
                input, input::placeholder {
                    color: #65665C;
                    font: 400 16px/24px var(--font-family);
                }
                input {
                    padding-inline: 14px;
                    background-color: transparent;
                    border-radius: 6px;
                    border: 1px solid #E7E8E3;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, .08);
                    height: 48px;
                }
                input, button {
                    @media (max-width: 400px) {
                        width: 100%;
                    }
                }
                button {
                    padding: 13px 28px;
                    background-color: #CF6F49;
                    color: #fff;
                    border: none;
                    border-radius: 6px;
                    cursor: pointer;
                }
            }
            small, a {
                padding: 0;
                background-color: transparent;
                color: #65665C;
                font: 400 12px/18px var(--font-family);
            }
            a:hover { text-decoration: underline; }
            &:nth-child(2) { 
                margin-left: 95px; 
                @media (max-width: 1203px) { 
                    width: 20%; 
                } 
                @media (max-width: 905px) { width: 100%; text-align: center; margin-left: 0; }
            }
            &:nth-child(3) { 
                margin-left: 133px; 
                @media (max-width: 1203px) { 
                    width: 30%; 
                }  
                @media (max-width: 905px) { width: 100%; margin-left: 0; text-align: center; }
                
            }
            &:nth-child(4) {
                margin-left: 96px; 
                @media (max-width: 1203px) { 
                    width: 35%; 
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    margin-left: 190px; 
                } 
                @media (max-width: 905px) { width: 100%; margin-left: 0; text-align: center; }
            }
            &:nth-child(5) { 
                width: min(379.48px, 100%); 
                margin-left: 200px;
                @media (max-width: 1320px) { margin-left: 0px; width: min(338.48px, 100%); } 
                @media (max-width: 905px) { width: 100%; margin-left: 0; text-align: center; }
            }
        }
    }
    .copyright {
        background-color: #F5F5F2;
        .container {
            padding: 0;
            height: 72px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            @media (max-width: 905px) { height: 100%; padding-block: 30px; gap: 20px; }
            p {
                font: 400 14px/21px var(--font-family);
                color: #65665C;
            }
            .social-links {
                display: flex;
                align-items: center;
                gap: 12px;
            }
        }
    }
}